<!DOCTYPE html>
<html lang="en">

<head>
    <% include ./partials/head %>
    <style>
    table, td {
      border: 1px solid black;
      width: 50%;
    }
    tr:nth-child(even) {background-color: #f2f2f2;}
    </style>
	<script src="crypto-js.js"></script>
	<script> function exports() {}</script>
	<script src="crypto.js"></script>
  <script src="list-ebooks.js"></script>
</head>

<body class="container">

	<header>
		<% include ./partials/header %>
	</header>

	<h1>List</h1>
		Esse sistema foi acessado por você <%= counter %> vezes
  <table>
  <input type="hidden" id="total" value="<%=files.length%>"/>
	<% for(var i=0; i<files.length; i++) {%>
    <tr>
      <td><a href="ebook?ebookname=<%= files[i].facadeName %>"><%= files[i].facadeName %></a></td>
      <td><span id="description<%=i%>"><%= files[i].facadeDescription %></span></td>
      <td>editar</td>
      <td>excluir</td>
      <input type="hidden" id="encText<%=i%>" value="<%= files[i].encDescription %>"/>
    </tr>
	<% } %>
	</table>
  <input type="button" id="novo" value="Novo">    
  <script>decriptar();</script>
</body>
</html>